<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16CD9FBA1C8C246100A5B455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE1AB84C1D4613F5003F51AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE36CA481D3F8F6C006AFCA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
