<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iList</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb527871607286242</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>5369785c92e87f89fbb04198b6764dfc81f7a3b7</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>9kMj4K3FgzrjxufdxfjaLcelx</string>
					<key>consumerSecret</key>
					<string>ZLj5pjEgRrdbqA6PDtMeOOS4KXFCtaTtHMvUWNezXrjtFx9nm9</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>527871607286242</string>
	<key>FacebookDisplayName</key>
	<string>iList</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>iList Ambassador wants your location data to be able to serve the most relevant information to you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>iList Ambassador wants your location data to be able to serve the most relevant information to you.</string>
	<key>UIAppFonts</key>
	<array>
		<string>MyriadPro-SemiboldSemiCn.otf</string>
		<string>MyriadPro-BoldSemiCondensed.ttf</string>
		<string>MyriadPro.ttf</string>
		<string>MyriadPro-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>iListAPI</key>
	<dict>
		<key>API-URL</key>
		<string>https://api.ilistambassador.com/api/</string>
		<key>Authorization</key>
		<dict>
			<key>ClientId</key>
			<string>3ewTIX3fHPHqUuaZQguJBL9DN3pNqTGDVONGz34T</string>
			<key>ClientSecret</key>
			<string>rjKj9Wi9rkjvZCrNYc2VwUTNhBwh2Mxu0S3HFgYgWXYCTOkRjbnNHx1TXucc1mCcy088ZIEWyQKTBE6G2eMEC4QlAtqq0Cfzv5Lt3an6xCCgMCZoB2tw3rMQQgRqjEPY</string>
		</dict>
	</dict>
</dict>
</plist>
